<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'lexicon/style.css' %}" />
    <title>Lexicon</title>
</head>

<body>
<div id="container">

<h1>Expressive: Lexicon</h1>
<div id="menu">
    <a href="{% url 'lexicon:random_term' %}">random</a>
    <a href="{% url 'lexicon:index' %}">index</a>
    <a href="/admin">admin</a>
</div>
<br />
<div id="content">
{% if term_list %}
{% for term in term_list %}
<h2><a href="{% url 'lexicon:term_detail' term.id %}">{{ term.term_text }}</a></h2>
{% endfor %}
{% endif %}
</div>
</div>
</body>
