<div id="menu">
    <a href="/admin">admin</a><br />
    <a href="{% url 'lexicon:index' %}">index</a><br />
    <a href="{% url 'lexicon:random_term' %}">random</a>
</div>

<h2>{{ term.term_text }}</h2>

<form action="{% url 'lexicon:add_sentence' term.id %}" method="post">
    {% csrf_token %}
    <label for="sentence_text">Example sentence:</label><br />
    <textarea name="sentence_text" id="sentence_text" rows="4" cols="100"></textarea><br />
    <input type="submit" value="Save example sentence" />
</form>

<h3>Example sentences:</h3>

<div id="examples" style="color: white">
<p>
{% for sentence in term.sentence_set.all %}
    {{ sentence.sentence_text }}<br /><br />
{% endfor %}
</p>
</div>
