<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'lexicon/style.css' %}" />
    <script src="{% static 'lexicon/jquery-3.3.1.min.js' %}"></script>
    <script>

        $(document).ready(function(){

            var example_sentences_visible = 0;
            $("#example_sentences").hide();

            $("#example_sentence_toggle").click(function(){

                $("#example_sentences").toggle("fast");

                if (!example_sentences_visible) {
                    example_sentences_visible = 1;
                    $(this).html('Hide example sentences');
                } else {
                    example_sentences_visible = 0;
                    $(this).html('Show example sentences');
                }
            });
        });
    </script>
    <title>Lexicon</title>
</head>

<body>

<div id="container">
<h1>Expressive: Lexicon</h1>

<div id="menu">
    <a href="{% url 'lexicon:random_term' %}">random</a>
    <a href="{% url 'lexicon:index' %}">index</a>
    <a href="/admin">admin</a>
</div>
<br />
<div id="content">
<h2>Term: {{ term.term_text }}</h2>

<form action="{% url 'lexicon:add_sentence' term.id %}" method="post">
    {% csrf_token %}
    <label for="sentence_text">Example sentence:</label><br />
    <textarea name="sentence_text" id="sentence_text" rows="4"></textarea><br />
    <input id="add_sentence_button" type="submit" value="Save" style="font-size:20px" />
</form>

<a id="example_sentence_toggle" href="#">Show example sentences</a>

<div id="example_sentences">
<h3>Example sentences</h3>
<p>
{% for sentence in term.sentence_set.all %}
    {{ sentence.sentence_text }}<br /><br />
{% endfor %}
</p>
</div>
</div>
</div>

</body>
