#container {
    width: 80%;
    margin: auto;
    border: 12px solid #000000;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    font-size: 20px;
}

#menu {
    margin: auto;
    border: 2px solid #000000;
    border-radius: 4px;
    background-color: #DDDDDD;
    padding: 4px;
}

#content {
    margin: auto;
    border: 2px solid #000000;
    border-radius: 4px;
    background-color: #DDDDDD;
    padding: 10px;
}

textarea {
    font-size: 20px;
    padding: 10px;
    width: 100%;
}
